<ion-header>
  <ion-toolbar color="favorite">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-data-profile">
    <div class="img-profile-user">
      <ion-avatar class="img">
        <img src="../../../assets/profile.svg">
      </ion-avatar>
    </div>
    <h5>Datos del usuario:</h5>
    <div class="content-data-profile-form" *ngIf="data">
      <ion-item>
        <ion-label position="relative">Nombre: </ion-label>
        <ion-input [value]="data.name" [(ngModel)]="data.name"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="relative">Apellido paterno: </ion-label>
        <ion-input [value]="data.firstSurname" [(ngModel)]="data.firstSurname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="relative">Apellido materno: </ion-label>
        <ion-input [value]="data.lastSurname" [(ngModel)]="data.lastSurname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="relative">Fecha de nacimiento: </ion-label>
        <ion-datetime id="dynamicDisabled" displayFormat="DD-MMM-YYYY" disabled [value]="data.dateofbirth"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="relative">Curp: </ion-label>
        <ion-input disabled [value]="data.curp"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="relative">email: </ion-label>
        <ion-input [value]="data.email" [(ngModel)]="data.email"></ion-input>
      </ion-item>
      <div class="buttons-profile" >
        <ion-button (click)="resetParams()" color="cancel">cancelar</ion-button>
        <ion-button (click)="saveparams()" color="primary">Guardar</ion-button>
      </div>
    </div>
  </div>
</ion-content>