<ion-header>
  <ion-toolbar>
    <ion-title>fragment-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fragment-detail-page">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>Keystone 1</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Description</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button>
            Comprar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
