<ion-header>
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-form-register">
    <ion-avatar (click)="selectImage(1)">
      <img [src]='base64Image'>
    </ion-avatar>


    <ion-item>
      <ion-label position="floating">Nombre* </ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido paterno* </ion-label>
      <ion-input type="text" [(ngModel)]="app"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido materno* </ion-label>
      <ion-input type="text" [(ngModel)]="apm"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de nacimiento* </ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Curp* </ion-label>
      <ion-input type="text" [(ngModel)]="curp"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="absolute" (click)="selectImage(2)">INE* </ion-label>
    </ion-item>
    <div class="content-img-register" *ngIf="ine">
      <ion-img class="img-ine" [src]="ine"></ion-img>
    </div>
    <ion-item>
      <ion-label position="floating">Email* </ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña* </ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar contraseña* </ion-label>
      <ion-input type="password" ></ion-input>
    </ion-item>

    <div class="buttons-form">
      <ion-button color="cancel" [routerLink]="['/login']" (click)="clear()">Cancelar</ion-button>
      <ion-button expand="block" (click)="sendnudes()">Aceptar</ion-button>
    </div>
  </div>
</ion-content>