<ion-header>
  <ion-toolbar>
    <ion-title>projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-page-projects">
    <div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <mat-form-field style="width: 100%;">
              <mat-select placeholder="Categoria" (selectionChange)="selectCategory($event.value)">
                <mat-option *ngFor="let category of categories" [value]="category.code">
                  {{category.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div *ngIf="projects.length === 0" class="no-project">
              <h4>No hay projectos</h4>
            </div>
            <div *ngIf="projects.length > 0" class="container-cards">
              <ion-card *ngFor="let project of projects" (click)="navigateToProject()">
                <img src="https://ionicframework.com/docs/v3/dist/preview-app/www/assets/img/card-saopaolo.png">
                <h2 class="card-title">{{project.name}}</h2>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>