<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>keystones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-keystones-page">
    <img src="https://ionicframework.com/docs/v3/dist/preview-app/www/assets/img/card-saopaolo.png">

    <div>
      <div style="display: flex; flex-direction:row; align-items: center;">
        <div id="triangle-right"></div>
        <h2 style="margin-left: 8px;">Keystone Title</h2>
      </div>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-checkbox>Fragment 1</mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-checkbox>Fragment 2</mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-checkbox>Fragment 3</mat-checkbox>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
    </div>

    <div>
      <div style="display: flex; flex-direction:row; align-items: center;">
        <div id="triangle-right"></div>
        <h2 style="margin-left: 8px;">Keystone Title</h2>
      </div>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-checkbox>Fragment 1</mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-checkbox>Fragment 2</mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-checkbox>Fragment 3</mat-checkbox>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
    </div>
  </div>
</ion-content>